{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "styled-components",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "testing": {
      "presets": ["es2015", "stage-1", "react", "flow"]
    },
    "development": {
      "presets": [
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "webpack": {
      "presets": [
        [
          "es2015"
        ]
      ]
    }
  }
}
